<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{common/user/fragments/config :: ConfigFragment}">
    <title layout:title-pattern="${LAYOUT_TITLE} : ${CONTENT_TITLE}">공통 타이틀</title>
</head>

<body>
<!-- 알림 바 포함 (공통) -->
<div th:replace="~{common/alert/alert :: alertBar}"></div>
<div th:replace="~{common/alert/ajaxAlertBar :: ajaxAlertBar}"></div>

<!-- Header 영역을 참조합니다.-->
<header th:replace="~{common/user/fragments/menubar :: menu}"></header>

<!-- Content 내용 영역을 참조합니다-->
<main>
    <div class="main-container" layout:fragment="Content">
        <!-- 콘텐츠가 여기에 삽입됩니다 -->
    </div>
</main>

<!-- Footer 영역을 참조합니다.-->
<footer th:replace="~{common/user/fragments/footer :: FooterFragment}"></footer>
</body>
</html>
