<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="ConfigFragment">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes, initial-scale=1.0"/>
    <title></title>

    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/index/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/content.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/navigation.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/responsive.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/table-details.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/error.css}"/>

    <!-- Common JS -->
    <!--<script th:src="@{/js/listToDetail.js}" th:inline="none"></script>-->
    <script th:src="@{/js/list/rowNavigation.js}" th:inline="none"></script>
    <script th:src="@{/js/list/checkboxManager.js}" th:inline="none"></script>
    <script th:src="@{/js/list/batchDelete.js}" th:inline="none"></script>
</head>
</html>
