<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <title>상품 수정</title>
    <link rel="stylesheet" th:href="@{/css/item/form.css}">
    <script th:src="@{/js/item/itemForm.js}" th:inline="none" defer></script>
</head>
<body>
<main>
    <div th:replace="~{common/fragments/item/form :: form}"
         th:with="formAction='@{/product/items/{itemId}/edit(itemId=${item.itemId})}', item=${item}, mainCategories=${mainCategories}, subCategories=${subCategories}, regions=${regions}, itemTypes=${itemTypes}, deliveryCodes=${deliveryCodes}">
    </div>
</main>
</body>
</html>
