body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}
.logo img {
    width: 100px;
    height: 100px;
}
.nav {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 50px;
}
.nav .nav-item {
    margin-right: 3px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.user-options {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 15px;
}
.user-options .user-item {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.search-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.search-cart input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-cart button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}
.search-cart a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}