.slider {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* 현재 슬라이드 활성화 상태 */
.slide.active {
    opacity: 1;
    z-index: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding-left: 50px;

}
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 40px;
    margin-bottom: 40px;
}
.item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.item img {
    width: 100%;
    height: 50vh;
}
.item .info {
    padding: 15px;
}
.item .info h2 {
    font-size: 18px;
    margin: 10px 0;
}
.item .info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}
.item .info .price {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}