<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/admin/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 리스트 조회</title>
  <script th:src="@{/admin/js/member/listDelete.js}" th:inline="none"></script>
  <link rel="stylesheet" th:href="@{/admin/user/css/userList.css}"/>
  <style>
    .actions {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  </style>
</head>
<body>
<main>
  <h2>회원 리스트 조회</h2>
  <div class="container">

    <!-- 검색 및 정렬 -->
    <div th:replace="~{common/admin/fragments/searchBar :: searchBar(
    '/user/users','검색어 입력',${keyword},null)}"></div>

    <!-- 상단 등록 버튼 -->
  <div class="actions">
      <a href="/admin/user/users/add" class="btn btn-register">회원 등록</a>
    <button id="deleteSelected" data-delete-url="/batch-delete">회원 삭제</button>
  </div>
    <!-- 테이블 -->
  <table>
    <thead>
    <tr>
      <th><input type="checkbox" id="selectAll"></th>
      <th><a th:href="@{/admin/user/users(sort='userNo', direction=${sortDirection == 'ASC' ? 'DESC' : 'ASC'})}">회원 번호</a></th>
      <th><a th:href="@{/admin/user/users(sort='userId', direction=${sortDirection == 'ASC' ? 'DESC' : 'ASC'})}">아이디</a></th>
      <th><a th:href="@{/admin/user/users(sort='username', direction=${sortDirection == 'ASC' ? 'DESC' : 'ASC'})}">이름</a></th>
      <th><a th:href="@{/admin/user/users(sort='email', direction=${sortDirection == 'ASC' ? 'DESC' : 'ASC'})}">이메일</a></th>
      <th>전화번호</th>
      <th>역할</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}"
        th:data-details-url="@{/admin/user/users/{userNo}(userNo=${member.userNo}, page=${currentPage}, keyword=${keyword}, sort=${sortField}, direction=${sortDirection})}"
        th:data-id="${member.userNo}"
        class="clickable-row">
      <td><input type="checkbox" th:value="${member.userNo}" class="select-checkbox"></td>
      <td th:text="${member.userNo}"></td>
      <td th:text="${member.userId}"></td>
      <td th:text="${member.username}"></td>
      <td th:text="${member.email}"></td>
      <td th:text="${member.mobilePhone}"></td>
      <td th:text="${member.role}"></td>
    </tr>
    </tbody>
  </table>

    <div th:replace="~{common/admin/fragments/pagination :: pagination(${startPage},${endPage},${totalPages},
        ${currentPage},'/user/users',${keyword},${sortField},${sortDirection})}"></div>

  </div>
</main>
</body>
</html>
