body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* 배경색 */
}
.navbar {
    background-color: #333;
    padding-left: 30%;
    margin: 0;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul a{
    text-decoration-line: none;
    color: fff;
}
.navbar ul a:link,
.navbar ul a:visited,
.navbar ul a:hover,
.navbar ul a:active {
    color: #fff;
}
.navbar > ul > li {
    position: relative;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}
.navbar > ul > li:hover {
    background-color: #444; /* 호버 시 배경색 */
}
.navbar ul .dropdown {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    top: 100%; /* 부모 메뉴 아래에 위치 */
    left: 0;
    background-color: #555;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1;
}
.navbar ul .dropdown li {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}
.navbar ul .dropdown li:hover {
    background-color: #666; /* 서브메뉴 호버 시 배경색 */
}
.navbar > ul > li:hover .dropdown {
    display: block; /* 호버 시 서브메뉴 표시 */
}