.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2, h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1em;
}

input, select, button, a.btn-cancel {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

a.btn-cancel {
    background-color: #dc3545;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

a.btn-cancel:hover {
    background-color: #c82333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.row {
    display: flex;
    gap: 10px;
}

.col {
    flex: 1;
}

.btn-lg {
    font-size: 1.2em;
    padding: 10px;
}

.checkbox-grid, .radio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.checkbox-item, .radio-item {
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 5px;
    font-size: 1em;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    width: 120px;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-left: 10px;
}

.image-preview {
    width: 400px;
    height: 500px;
    margin-bottom: 10px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    cursor: pointer;
}

.thumbnail-gallery {
    display: flex;
    gap: 10px;
}

.thumbnail-preview {
    width: 80px;
    height: 100px;
    border: 1px dashed #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}