/* 초기 숨김 처리(transition 이용) */
.hidden {
    display: none; /* JS로 hidden 제거시 block을 쓸지 flex를 쓸지 결정 가능 */
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* .show 클래스를 준다면 */
.show {
    display: block;
    opacity: 1;
}

/* fade-in 애니메이션 */
.fade-in {
    animation: fadeIn 0.5s ease forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
