body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    /*position: fixed; !* 헤더 고정 *!*/
    top: 0; /* 브라우저 상단에 고정 */
    left: 0;
    right: 0;
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

.logo img {
    width: 100px;
    height: 30px;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 50px;
}

.nav .nav-item {
    margin-right: 3px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.nav .nav-item:hover {
    color: #007bff; /* 호버 시 색상 변경 */
    text-decoration: underline;
}

.user-options {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 15px;
}

.user-options .user-item {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.search-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.search-cart input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-cart button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.search-cart a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
