<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="ConfigFragment">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes, initial-scale=1.0"/>
    <title></title>

    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/admin/css/index/base.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/index/content.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/index/footer.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/index/header.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/index/navigation.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/index/responsive.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/index/table-details.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/index/button.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/index/error.css}"/>
    <link rel="stylesheet" th:href="@{/common/css/transition.css}" />

    <!-- Common JS -->
    <script th:src="@{/common/js/transition.js}" th:inline="none" defer></script>
    <script th:src="@{/admin/js/list/rowNavigation.js}" th:inline="none"></script>
    <script th:src="@{/admin/js/list/checkboxManager.js}" th:inline="none"></script>
    <script th:src="@{/admin/js/list/batchDelete.js}" th:inline="none"></script>
</head>
</html>
