<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="pagination(startPage, endPage, totalPages, currentPage, url)">
<link rel="stylesheet" th:href="@{/common/css/pagination/pagination.css}"/>
<div class="pagination">
    <!-- 이전 페이지 블록 이동 -->
    <span th:if="${currentPage <= 1}" class="disabled">&laquo;</span>
    <a th:if="${currentPage > 1}"
       th:href="@{${url}(page=${currentPage - 2})}">
        &laquo;
    </a>

    <!-- 페이지 번호 -->
    <a th:each="i : ${#numbers.sequence(startPage ?: 1, endPage ?: 1)}"
       th:href="@{${url}(page=${i - 1})}"
       th:classappend="${currentPage == i} ? 'active' : ''"
       th:text="${i}"></a>

    <!-- 다음 페이지 블록 이동 -->
    <span th:if="${currentPage >= totalPages}" class="disabled">&raquo;</span>
    <a th:if="${currentPage < totalPages}"
       th:href="@{${url}(page=${currentPage)}}">
        &raquo;
    </a>
</div>
</html>
