/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

/* 페이드인 효과 */
.fade-in {
    opacity: 0;
    animation: fadeInEffect 1s ease-in forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Login Container */
.login-container {
    margin-top: 120px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    justify-self:center;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-container .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group .toggle-password {
    position: absolute;
    right: 20px;
    top: 49%;
    transform: translateY(-50%);
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #444;
}

.loading-spinner {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

/* Save ID & Links */
.save-id-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.options a {
    font-size: 12px;
    color: #007BFF;
    text-decoration: none;
}
.options {
    margin-top: 10px;
}
button.btn.btn-signup {
    margin-top: 10px;
}