/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    /*뭔가 변경 되었습니다 */
}

/* 페이드인 효과 */
.fade-in {
    opacity: 0;
    animation: fadeInEffect 1s ease-in forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Login Container */
.login-container {
    margin-top: 120px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    justify-self:center;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-container .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    box-sizing: border-box;

}

.input-group .toggle-password {
    position: absolute;
    right: 30px;
    top: 41%;
    transform: translateY(-50%);
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}


.input-group input:focus,
.input-group input:active {
    outline: none; /* 기본 포커스 스타일 제거 */
    border: 1px solid #3b3dcd;
    background-color: #fff; /* 포커스 시 배경색 변경 (선택사항) */
}

/* 크롬 자동완성 스타일 제거 */
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important; /* 기본 스타일 제거 */
    -webkit-text-fill-color: #000 !important; /* 텍스트 색상 설정 */
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: background-color 0.4s ease;
}
.btn-login:hover {
    background-color: #000;
    color: #fff;
}
.btn-signup:hover {
    background-color: #f2f2f2;
    color: #222;
}

.loading-spinner {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

/* Save ID & Links */
.save-id-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 13px;
}

.options a {
    font-size: 12px;
    color: #007BFF;
    text-decoration: none;
}
.options {
    margin-top: 10px;
}
button.btn.btn-signup {
    margin-top: 10px;
}
