/* base.css */
/* 기본 레이아웃 및 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    flex-direction: column;
    background-color: #f9f9f9;
    color: #333;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 1.5em;
}

/* 링크 스타일 */
a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #388e3c;
}

/* 버튼 공통 스타일 */
button {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
