<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/admin/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>테스트페이지</title>
    <link rel="stylesheet" th:href="@{/admin/css/financial/financial.css}"/>
</head>
<body>
<main class="container">
    <h1>연도별 데이터 그래프</h1>
    <!-- 탭 네비게이션 -->
    <div class="tabs">
        <form action="http://localhost:5000/graph" method="post" class="tab-form">
            <button type="submit" class="tab-button" name="year" value="2020">2020</button>
        </form>
        <form action="http://localhost:5000/graph" method="post" class="tab-form">
            <button type="submit" class="tab-button" name="year" value="2021">2021</button>
        </form>
        <form action="http://localhost:5000/graph" method="post" class="tab-form">
            <button type="submit" class="tab-button" name="year" value="2022">2022</button>
        </form>
        <form action="http://localhost:5000/graph" method="post" class="tab-form">
            <button type="submit" class="tab-button" name="year" value="2023">2023</button>
        </form>
        <form action="http://localhost:5000/graph" method="post" class="tab-form">
            <button type="submit" class="tab-button" name="year" value="2024">2024</button>
        </form>
        <form action="http://localhost:5000/graph" method="post" class="tab-form">
            <button type="submit" class="tab-button" name="year" value="all">전체</button>
        </form>
    </div>

    <!-- 텝 콘텐츠 -->
    <div class="tab-content active" id="tab-content">
        <p>선택한 연도의 데이터 분석 결과가 여기에 표시됩니다.</p>
    </div>
</main>
</body>
</html>
