<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="ConfigFragment">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes, initial-scale=1.0"/>
    <title></title>

    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/user/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/content.css}"/>

    <!-- Common JS -->

    <script th:src="@{/user/js/navbar.js}" th:inline="none" defer></script>
</head>
</html>
