<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<footer class="footer">
    <div class="footer-top">
        <div class="footer-links">
            <a th:href="@{/user/notice}">공지사항</a>
            <a th:href="@{/user/terms}">이용약관</a>
            <a th:href="@{/user/privacy-policy}">개인정보처리방침</a>
            <a th:href="@{/user/partnership}">협업/제휴</a>
        </div>
        <div class="footer-contact">
            <p>협업/제휴/협찬: kooda21@naver.com</p>
            <p>고객센터: <strong>8582-14429</strong> (월~금 10:00 - 17:00 / 점심 13:00 - 14:00)</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            company. 주식회사 Alpha-Style | ceo. 강두리 | business no. 1631-837-00028 | mail order license. 제 2014-경기도-0427호
        </p>
        <p>
            tel. 1644-1429 | fax. 02-2245-1016 | address. 경기도 화성시  921-2 빌딩 3층
        </p>
        <p>해당 사이트에서 판매되는 모든 상품의 책임은 판매자에게 있습니다. 담당자: 강두리</p>
        <p>© Inteinger Corp. All rights reserved.</p>
    </div>
</footer>
</html>
