<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/user/layouts/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>

<div layout:fragment="pageStyles">
    <link rel="stylesheet" th:href="@{/user/css/login/login.css}"/>
    <script th:src="@{/user/js/login/login.js}" th:inline="none"></script>
</div>

<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/user/css/login/login.css}"/>
    <div class="login-container">
        <img th:src="@{/user/img/alpha_Style.png}" alt="사이트 로고" style="width: 150px; height: auto;">
        <h1>로그인</h1>
        <form th:action="@{/login}" th:object="${loginMember}" method="post" onsubmit="showLoadingSpinner()">
            <input type="text" id="userId" name="userId" th:field="*{userId}" placeholder="아이디" required>
            <span id="userIdError" style="color: red; font-size: 12px;"></span>

            <input type="password" id="password" name="password" th:field="*{password}" placeholder="비밀번호" required>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호 오류</span>
            <button type="button" onclick="togglePassword()">👁</button>

            <div class="save-id-container">
                <label for="save-id">아이디 저장</label>
                <input type="checkbox" id="save-id" name="save-id">
            </div>
            <button type="submit" class="btn btn-login">로그인</button>
            <div id="loadingSpinner">🔄 로그인 중...</div>
        </form>

        <form th:action="@{/signup}" method="get">
            <button type="submit" class="btn btn-signup">회원가입</button>
        </form>

        <div th:if="${errorMessage}" th:text="${errorMessage}"></div>
        <div class="options">
            <a th:href="@{/user/member/find-id}">아이디찾기</a> | <a th:href="@{/user/member/find/pwd}">비밀번호찾기</a>
        </div>

        <hr>
        <button class="btn btn-social btn-kakao">카카오 로그인</button>
        <button class="btn btn-social btn-google">구글 로그인</button>
        <button class="btn btn-social btn-naver">네이버 로그인</button>
    </div>
</div>


</body>
</html>
