<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="alertBar">

<!-- 알림 바 -->
<script th:src="@{/alert/js/alertEvent.js}" defer></script>
<link th:href="@{/alert/css/alert.css}" rel="stylesheet"/>

<div th:if="${alert != null and alert.active}"
     th:classappend="${alert.type.cssClass}"
     class="alert-bar">
    <p th:text="${alert.title}">알림 메시지</p>
    <button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
</div>

</html>
