<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="page.mapper.MemberMapper">

    <!-- 페이징을 위한 검색 쿼리 -->
    <select id="searchMembersWithPagination" resultType="page.admin.member.domain.Member">
        SELECT *
        FROM (
        SELECT ROWNUM AS rn, m.*
        FROM (
        SELECT *
        FROM members
        WHERE UPPER(user_id) LIKE UPPER(#{keyword})
        OR UPPER(username) LIKE UPPER(#{keyword})
        OR UPPER(email) LIKE UPPER(#{keyword})
        ORDER BY ${sortField} ${sortDirection}
        ) m
        WHERE ROWNUM <= #{endRow}
        )
        WHERE rn > #{startRow}
    </select>

    <!-- 총 결과 수 계산 -->
    <select id="countMembers" resultType="int">
        SELECT COUNT(*)
        FROM members
        WHERE UPPER(user_id) LIKE UPPER(#{keyword})
           OR UPPER(username) LIKE UPPER(#{keyword})
           OR UPPER(email) LIKE UPPER(#{keyword})
    </select>
</mapper>
